@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding: 0;
  /* overflow: hidden; */
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #8fc4b7;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.form-control:focus{
  border-color: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.custom-btn {
  width: auto;
  padding: 10px 20px;
  font-size: 16px;
  color:white !important;
}
.custom-btn:hover{
  color: black !important;
}
/* Animation for image */
.animated-image {
  animation: fadeInFromLeft 1s ease; /* Use the animation class */
}
.animated-div {
  animation: fadeInFromRight 1s ease; /* Use the animation class */
}
@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@media (min-width: 576px) {
  .d-flex-none-sm {
    flex: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 450px) {
  .custom-btn{
    font-size: 10px;
    padding: 10px 7px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 600px){
  .custom-btn{
    font-size: 13px;
    padding: 10px 15px;
  }
}
@media only screen and (min-width: 760px) and (max-width: 1190px) {
  .custom-btn{
    font-size: 10px;
    padding: 12px 10px;
  }
}



